
nav{
    border: 2px solid green;
    text-align: center;
}
nav > ul > li{
    margin: 0px 10px;
    display: inline;
    /* list-style: none; */
}
nav li > a{
    text-decoration: none;
}

body > footer{
    text-align: center;
    margin-top: 40px;
}